<!DOCTYPE html>
<html>
<head>
	<title>Coffee Shop</title>
</head>
	<body>
		<h1>Shop Coffee</h1>
		<div class="container">
			@foreach (var item in Model)
			{
				<div class="single-product">
					<img width="100" src="@item.ImageUrl" />
					<a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id" target="_blank"><h3> @item.Name</h3></a>
					<p> @item.Price.ToString("C") </p>
				</div>
			}
		</div>
</body>
</html>